@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

:root {
  --font-work: "Work Sans", sans-serif;

  --color-white: #ffffff;
  --color-grey: #9c9c9c;
  --color-blue: #333359;
}

* {
  margin: 0;
  padding: 0;
}
